@font-face {
    font-family: "poppinsregular";
    src: url("./assets/fonts/poppinsRegular/poppins-regular.woff2")
            format("woff2"),
        url("./assets/fonts/poppinsRegular/poppins-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "poppinsbold";
    src: url("./assets/fonts/poppinsBold/poppins-bold.woff2") format("woff2"),
        url("./assets/fonts/poppinsBold/poppins-bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
body {
    max-width: 1440px;
    background-image: url("./assets/images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);
    margin:auto;
}

.container {
    display: flex;
    justify-content: space-around;
}

h1 {
    font-family: "poppinsbold";
    color: white;
    font-size: 55px;
}
h2 {
    font-family: "poppinsregular";
    font-size: 16px;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: hsl(248, 32%, 49%);
    border-radius: 5px;
    border: none;
}
p {
    font-family: "poppinsregular";
    font-size: 16px;
    color: white;
}
.condition {
    color: hsl(246, 25%, 77%);
    font-size: 9px;
    text-align: center;
}
.important, .error {
    color: red;
}
.first-bloc {
    width: 45%;
    padding-top: 100px;
    padding-left: 25px;
}
.second-bloc {
    margin-top: 50px;
    width: 30%;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.formContainer {
    padding: 15px;
    display: flex;
    overflow:hidden;
    background-color: white;
    border-radius: 5px;
    
}
form {
    
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 40px 10px 20px;
  
}
input {
    margin: 3px 0px 3px 0px;
    padding: 5px;
    border: solid hsl(246, 25%, 77%) 1px;
    font-family: "poppinsregular";
    width: 100%;
    border-radius: 5px;
}

.formButton {
    color: white;
    font-family: "poppinsbold";
    text-align: center;
    background-color: hsl(154, 59%, 51%);
    border-radius: 5px;
    border: none;
    letter-spacing: 2px;
    cursor: pointer;
    width: 100%;
}
@media screen and (max-width:860px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    h1 {
        font-size: 35px;
    }
    
    .first-bloc {
        width: 90%;
        padding-top: 50px;
        padding-left: 25px;
    }
    .second-bloc {
        margin-top: 50px;
        width: 90%;
        overflow:hidden;
        margin:auto;
     
    }
   
}
